.tasks-section {
	background: #ffffff;
	padding: 2rem;
	margin-top: 2rem;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tasks-section h1,
.tasks-section h2,
.tasks-section h3 {
	color: #333;
	padding-bottom: 0.5rem;
}

.tasks-section ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.tasks-section ul li {
	background: #f9f9f9;
	border-left: 4px solid #007acc;
	margin-bottom: 0.5rem;
	padding: 0.5rem 1rem;
	transition: background-color 0.3s ease;
}

.tasks-section ul li:hover {
	background-color: #eef2f7;
}
/* Recipe and Food List Styles */
.times-table,
.food-list,
.recipe-details {
	background: #fff;
	padding: 1rem;
	margin-top: 1rem;
	border-left: 5px solid #28a745;
}

/* Add some space between list items */
.times-table li,
.food-list li,
.recipe-details li {
	background: #f9f9f9;
	border-left: 4px solid #007acc;
	margin-bottom: 0.5rem;
	padding: 0.5rem 1rem;
	transition: background-color 0.3s ease;
}

.times-table li:hover,
.food-list li:hover,
.recipe-details li:hover {
	background-color: #eef2f7;
}

/* Style for the button to call the function */
.cook-btn {
	background-color: #007bff;
	color: white;
	border: none;
	padding: 10px 20px;
	margin-top: 1rem;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.cook-btn:hover {
	background-color: #0056b3;
}

/* Times Table Button Styles */
.numbers-table-buttons {
	margin-bottom: 20px;
}

.btn-numbers-table {
	background-color: #007bff;
	color: white;
	border: none;
	padding: 10px 20px;
	margin: 5px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.btn-numbers-table:hover {
	background-color: #0056b3;
	outline: none;
}