---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}

<div class="container mt-4">
    <h1 class="title mb-4">Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h1>

    {% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
    {% set postslistCounter = postsCount %}
    {% include "postslist.njk" %}

    {% set morePosts = postsCount - numberOfLatestPostsToShow %}
    {% if morePosts > 0 %}
        <p class="mt-4">{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/archive/" class="text-primary">the archive</a>.</p>
    {% endif %}
</div>
