{%- css %}
.list-group {
    counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }};
}
{% endcss %}

<ul class="list-group">
{% for post in postslist | reverse %}
    <li class="list-group-item{% if post.url == url %} active{% endif %}">
        <a href="{{ post.url }}" class="d-block{% if post.url != url %} text-reset{% endif %}">
            {% if post.data.title %}
                {{ post.data.title }}
            {% else %}
                <code>{{ post.url }}</code>
            {% endif %}
        </a>
        <time class="small text-muted" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time>
    </li>
{% endfor %}
</ul>

