<!DOCTYPE html>
<html lang="{{ metadata.language }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ metadata.title }}</title>
    <!-- You might have more meta tags and links to stylesheets here -->
    <link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/contact.css">
<link rel="stylesheet" href="/css/about.css">
<link rel="stylesheet" href="/css/archive.css">
<link rel="stylesheet" href="/css/footer.css">
</head>

<body>
    <header>
        <!-- Logo Image -->
        <img src="/assets/images/logo.png" alt="{{ metadata.title }} Logo" id="site-logo">

         <!-- Site Title with Link -->
        <a href="/" class="home-link">{{ metadata.title }}</a>

        <!-- Static Navigation from nav.njk -->
        {% include "layouts/nav.njk" %}

        <!-- Dynamic Eleventy Navigation (you can choose either this or the static one, not both) 
        <nav>
            <h2 class="visually-hidden">Top level navigation menu</h2>
            <ul class="nav">
                {%- for entry in collections.all | eleventyNavigation %}
                    <li class="nav-item"><a href="{{ entry.url }}">{{ entry.data.title }}</a></li>
                {%- endfor %}
            </ul>
        </nav>-->
    </header>

    <main id="skip">
        {{ content | safe }}
    </main>

    <footer>
        {% include "layouts/footer.njk" %}
    </footer>
</body>

</html>